@font-face {
  font-family: 'AmaticSC';
  font-weight: 400;
  src: url("./assets/fonts/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: 'AmaticSC';
  font-weight: 700;
  src: url("./assets/fonts/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.link-common {
  color: #3E3E3E;
  border-bottom: 1px solid #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: transparent;
  text-decoration: none;
  transition: .3s all;
}

.link-common:hover {
  color: #FFFFFF;
  background: #3E3E3E;
}

.title {
  font-family: 'AmaticSC', sans-serif;
  font-weight: 400;
  font-size: 54px;
  color: #1E1E1E;
  text-align: center;
  margin-bottom: 30px;
  line-height: 50px;
}

.logo {
  text-decoration: none;
  display: flex;
}

.main__container {
  position: relative;
}

.success {
  position: fixed;
  z-index: 9997;
  right: 120px;
  bottom: 60px;
  display: flex;
  transform: scale(0);
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  border-radius: 5px;
  border: 1px solid #3E3E3E;
  transition: .3s transform;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}

.success__text {
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }

  html {
    overflow-x: hidden;
  }

  .success {
    right: 60px;
  }
}

@media screen and (max-width: 578px) {
  body {
    position: relative;
  }

  html:has(.header .header__container .menu__active) {
    overflow: hidden;
  }

  .success {
    right: 20px;
  }
}

.header {
  padding: 29px 0;
  background-color: #1E1E1E;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

@media screen and (max-width: 578px) {
  .header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
  }

  .header__container {
    align-items: center;
  }
}

.burger {
  display: none;
  align-items: center;
  cursor: pointer;
}

.burger-background {
  display: none;
  height: 100%;
  z-index: 9000;
  width: 100%;
  position: absolute;
  background-color: rgba(30, 30, 30, 0.5);
}

.menu__close {
  display: none;
  cursor: pointer;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__item a {
  text-decoration: none;
  font-family: 'AmaticSC', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-left: 30px;
  color: #FFFFFF;
  border-bottom: 1px solid transparent;
  transition: .3s all;
}

.menu__item a:hover {
  border-bottom: 1px solid #FFFFFF;
}

@media screen and (max-width: 578px) {
  .burger {
    display: flex;
  }

  .menu {
    display: none;
  }

  .menu__active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #1E1E1E;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .menu__close {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .menu__item a {
    margin-left: 0;
  }
}

.info {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__desc {
  margin-right: 30px;
}

.info__title {
  font-family: 'AmaticSC', sans-serif;
  font-weight: 400;
  font-size: 68px;
  color: #1E1E1E;
  margin-bottom: 15px;
}

.info__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #3E3E3E;
  margin-top: 5px;
}

.info__link {
  font-size: 24px;
}

.info__img {
  width: 357px;
  display: flex;
}

@media screen and (max-width: 860px) {
  .info__desc {
    max-width: 360px;
    margin-right: 30px;
  }

  .info__title {
    font-size: 48px;
  }

  .info__text {
    max-width: 360px;
  }

  .info__text,
  .info__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  .info {
    flex-direction: column;
  }

  .info__title,
  .info__text {
    text-align: center;
  }

  .info__title {
    margin-bottom: 30px;
  }

  .info__text {
    margin-top: 10px;
  }

  .info__desc {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px) {
  .info {
    padding: 100px 0 30px 0;
  }
}

.about {
  padding: 30px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content {
  border: 1px solid #3E3E3E;
  padding: 43px 15px 30px 77px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__desc {
  position: absolute;
  top: 0;
  left: 77px;
  font-weight: 300;
  font-size: 16px;
}

.about__img_1 {
  position: absolute;
  z-index: 5;
  top: 13px;
  right: 32px;
}

.about__img_2 {
  position: absolute;
  z-index: 5;
  bottom: -67px;
  right: 208px;
}

.about__img_3 {
  position: absolute;
  z-index: 5;
  top: -30px;
  right: 226px;
}

.about__img_4 {
  position: absolute;
  z-index: 5;
  bottom: -40px;
  right: -38px;
}

.about__text {
  list-style: none;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 15px;
  position: relative;
  z-index: 4;
}

.about__text_items {
  list-style: none;
  font-weight: 300;
}

.about__text-item {
  font-weight: 300;
  line-height: 33px;
  color: #3E3E3E;
}

.about__text_sublist {
  padding-left: 20px;
}

@media screen and (max-width: 1230px) {
  .about__text {
    font-size: 20px;
  }

  .about__img_4 {
    bottom: -46px;
    right: -8px;
  }
}

@media screen and (max-width: 1000px) {
  .about__img {
    position: relative;
    display: grid;
    grid-template: 1fr / repeat(4, auto);
    margin-top: 35px;
    grid-gap: 10px;
    justify-items: center;
  }

  .about__img_1,
  .about__img_2,
  .about__img_3,
  .about__img_4 {
    position: relative;
    top: 0;
    left: 0;
  }

  .about__img_1,
  .about__img_4 {
    align-self: end;
  }

  .about-content {
    padding: 43px 30px 30px 30px;
  }
}

@media screen and (max-width: 766px) {
  .about__img {
    grid-template: 1fr 1fr / repeat(2, auto);
  }
}

@media screen and (max-width: 660px) {
  .about {
    padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 530px) {
  .about__text-item {
    line-height: 26px;
  }

  .about__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 440px) {
  .about-content {
    padding: 30px 20px;
  }

  .about__desc {
    position: relative;
    left: 0;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .about__img {
    margin-top: 20px;
    position: relative;
    left: calc(50% - 160px);
  }

  .about__img_1,
  .about__img_4 {
    align-self: unset;
  }
}

.commands {
  padding: 70px 0 70px 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #3E3E3E;
  display: flex;
  flex-direction: column;
}

.commands__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commands__text {
  text-align: center;
  line-height: 29px;
  font-weight: 400;
}

.commands__text-title:hover {
  background-color: #1E1E1E;
}

.commands__command_svg {
  margin-left: 12px;
}

.commands__command {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 29px;
}

.commands__command_svg {
  display: flex;
  align-items: center;
}

.commands__command-text_desc {
  display: inline-block;
  font-weight: 400;
}

.commands__desc-text_title {
  font-weight: 500;
  color: #1E1E1E;
}

.commands__list {
  list-style: none;
}

.commands__item {
  line-height: 22px;
}

.commands__line {
  height: 1px;
  width: 60%;
  background-color: #b7b7b7;
  margin-top: 15px;
}

.commands__block {
  margin-top: 15px;
}

.commands__text-title {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #b7b7b7;
  padding: 3px 7px 3px;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: .3s background-color;
}

.commands__command-text {
  font-size: 20px;
  margin-bottom: 2px;
}

.commands__command-text:last-child {
  margin-bottom: 0;
}

/*@media screen and (max-width: 1003px) {
    .commands__block {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
    }

    !*.commands__text-title {
        display: inline-flex;
        width: max-content;
        font-weight: 400;
    }

    .commands__command-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 7px;
        font-weight: 300;
    }

    .commands__command-text_desc {
        font-weight: 300;
        line-height: 21px;
    }*!
}*/

@media screen and (max-width: 660px) {
  .commands {
    padding: 30px 0;
  }

  .commands__block {
    display: grid;
    grid-template: repeat(2, auto) / 50% 50%;
    gap: 10px;
  }

  .commands__command-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #3E3E3E;
    border-radius: 5px;
    margin-bottom: 0;
  }

  .commands__text-title {
    margin-bottom: 10px;
    width: 100%;
  }

  .commands__command-text_desc {
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  .commands {
    font-size: 18px;
  }

  .commands__command-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .commands {
    font-size: 16px;
  }

  .commands__command-text {
    font-size: 16px;
  }
}

.shop {
  padding-top: 30px;
  padding-bottom: 100px;
}

.shop__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
}

.shop__card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 12px 10px 10px 10px;
  box-sizing: border-box;
  height: 281px;
  width: 196px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #1E1E1E;
  background-color: #F6F6F6;
}

.shop__card_img {
  width: 100%;
  height: 127px;
  border-radius: 5px;
  background-position: top;
  background-size: cover;
  background-color: #FFFFFF;
  position: relative;
}

.audio_action {
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 7px 6px 7px;
  box-sizing: border-box;
  background-color: #939393;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.audio_action:hover {
  opacity: 1;
}

.audio_play,
.audio_pause {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio_action_play .audio_pause {
  display: none;
}

.audio_action_pause .audio_play {
  display: none;
}

.audio_action svg {
  transform: scale(1);
  transition: .3s;
}

.audio_action svg path {
  fill: #FFFFFF;
}

.audio_action:hover svg {
  transform: scale(1.1);
}

.audio_volume {
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: -17px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  border-radius: 5px;
  background-color: #939393;
  outline: none;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  max-width: 127px;
}

.audio_volume:hover {
  opacity: 1;
}

.audio_volume input {
  background: #FFFFFF;
  border-radius: 5px;
  height: 5px;
  position: relative;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  cursor: pointer;
  width: 100%;
}

.audio_volume input[type="range" i]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #939393;
  border-radius: 50%;
  cursor: pointer;
}

.audio_volume input[type="range" i]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #939393;
  border-radius: 50%;
  cursor: pointer;
}

.shop__card_title {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #3E3E3E;
  height: 51px;
  overflow: hidden;
}

.shop__card_price {
  margin-top: 5px;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  color: #1E1E1E;
  margin-bottom: 5px;
}

.shop__card_copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #939393;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s background-color;
}

.shop__card_copy:hover {
  background-color: #1E1E1E;
}

.shop__card_copy_text {
  width: 142px;
  overflow: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 660px) {
  .shop {
    padding: 30px 0;
  }
}

@media screen and (max-width: 468px) {
  .shop__card {
    width: 175px;
  }
}

@media screen and (max-width: 427px) {
  .shop__cards {
    margin-right: -5px;
    margin-left: 0;
  }

  .shop__card {
    width: 175px;
    margin-left: 0;
    margin-right: 5px;
  }
}

.socials {
  position: sticky;
  top: 135px;
}

.social {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: -70px;
}

.socials a {
  margin-bottom: 5px;
}

.socials a svg path {
  fill: #1E1E1E;
  transition: .3s all;
}

.socials a:hover svg path {
  stroke: #1E1E1E;
  fill: #FFFFFF;
}

@media screen and (max-width: 1000px) {
  .socials {
    display: none;
  }
}

.footer {
  padding: 22px 0;
  background-color: #1E1E1E;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu {
  margin-top: 20px;
  display: flex;
}

.footer__menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__menu__item {
  margin-bottom: 10px;
}

.footer__menu__item a {
  margin-left: 0;
}

.footer__social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer__social a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.footer__text {
  font-size: 14px;
  margin-top: 10px;
  color: #b7b7b7;
}